.sec1 {
    height: 100vh;
    background-image: url(../images/se1Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec4 {
    background-color: black;
}

.sec5 {
    background-color: #DFB191;
}

.sec6 {
    background-color: white;
    margin-top: 200px;
}

.wack {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.store {
    height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0e162400 !important;
    background-image: url(../images/buttonbg.png) !important;
    background-size: 100%;
    font-weight: 600;
}

.act {
    color: #fff;
    background-color: #0e162400 !important;
    background-image: url(../images/buttonbg.png) !important;
    background-size: 100%;
    font-weight: 600;
}

.delay1 {
    animation-delay: 0.2s;
}

.delay2 {
    animation-delay: 0.4s !important;
}

.delay3 {
    animation-delay: 0.6s !important;
}

.delay4 {
    animation-delay: 0.8s !important;
}

.delay5 {
    animation-delay: 1s !important;
}

a {
    text-decoration-line: none !important;
}

.footer {
    height: 300px;
    background-color: #E5D498;
}

.footerDiv {
    background-color: #fefcf3;
    border: 5px solid #ce995d;
    transform: translate(0%, -20%);

}

.iconcolour {
    color: #cd8e47;
}

.iconcolour:hover {
    color: #cd8e47;
}

.weig {
    font-weight: 600;
}

.copyright {
    background-color: #DECA5F;
}

.logo {
    max-width: 80px;
}

.wid1 {
    width: 82px;
}

.wid2 {
    width: 119px;
}

.wid3 {
    width: 74px;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0rem rgb(211 212 213 / 50%) !important;
}

.fit-content {
    width: fit-content;
}

.aboutSec1 {
    background-image: url(../images/se1Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.artistSocialLink {
    width: 80px;
}

.verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.verticalCenter2 {
    top: 40%;
}

.fontsize {
    font-size: 1.3rem;
}

.filter {
    backdrop-filter: blur(8px);
    background-color: #0e0e0e71;
    top: 3%;
    left: 3%;
    opacity: 0;
    transition: opacity 0.7s;
}

.dis {
    opacity: 1 !important;
}

.bottom {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 992px) {
    .sec4 {
        background-color: #0e0e0e;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding-top: 200px;
        height: 550px;
    }

    .footerDiv {
        transform: translate(0%, -100%);

    }
}

@media only screen and (max-width: 1500px) {
    .fontsize {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1500px) {
    .fontsize {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1200px) {
    .fontsize {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 510px) {
    .artistSocialLink {
        width: 60px;
    }
}

@media only screen and (max-width: 440px) {
    .artistSocialLink {
        width: 45px;
    }
}

@media only screen and (max-width: 992px) {
    .verticalCenter {
        height: fit-content;
    }
}














@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInRight {
    from {
        transform: translate3d(-40px, 0, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInLeft {
    from {
        transform: translate3d(40px, 0, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeIn {
    from {}

    to {
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
    animation-delay: 0.2s;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInRight {
    animation-name: fadeInRight;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.fadeIn {
    animation-name: fadeIn;
}









:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
}

.loader {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

.invisible{
    display: none;
}