.sec1 {
    height: 100vh;
    background-image: url(../images/se1Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: helvetica;
    src: url(../fonts/Helvetica.ttf);
}

.font {
    font-family: 'League Spartan', sans-serif;
}

.font2 {
    font-family: helvetica;
}

.font3{
    font-family: 'Josefin Sans';
}

.weight700{
    font-weight: 700 !important;
}

.navbg {
    background-color: white;
}

.sec4 {
    background-color: black;
}

.sec5 {
    background-color: #DFB191;
}

.wack {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.store {
    height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0e162400 !important;
    background-image: url(../images/buttonbg.png) !important;
    background-size: 100%;
    font-weight: 600;
}

.act {
    color: #fff;
    background-color: #0e162400 !important;
    background-image: url(../images/buttonbg.png) !important;
    background-size: 100%;
    font-weight: 600;
}

a {
    text-decoration-line: none !important;
}

.a {
    text-decoration-line: underline !important;
}

.footer {
    background-color: #1c768f;
}

.footerDiv {
    background-color: #fbf3f2;

}

.iconcolour {
    color: white;
    transition: color 0.3s;
}

.iconcolour:hover {
    color: rgb(179, 179, 179);
    transition: color 0.3s;
}

.weig {
    font-weight: 600;
}

.copyright {
    background-color: #fa991c;
}

.logo {
    max-width: 80px;
}

.wid1 {
    width: 82px;
}

.wid2 {
    width: 119px;
}

.wid3 {
    width: 74px;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0rem rgb(211 212 213 / 50%) !important;
}

.fit-content {
    width: fit-content;
}

.aboutSec1 {
    background-image: url(../images/aboutBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.artistSocialLink {
    width: 70px;
}

.verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.verticalCenter2 {
    top: 40%;
}

.fontsize {
    font-size: 1.3rem;
}

.filter {
    backdrop-filter: blur(8px);
    background-color: #0e0e0e71;
    top: 3%;
    left: 3%;
    opacity: 0;
    transition: opacity 0.7s;
}

.dis {
    opacity: 1 !important;
}

.bottom {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.e_eSec1 {
    background-color: black;
    height: 100vh;
}

.e_eSec2 {
    background-color: black;
}

.weight100 {
    font-weight: 100 !important;
}

.game {
    background-color: black;
}

.gameBtn {
    box-shadow: none !important;
}

.green {
    color: rgba(104, 175, 80, 1);
    ;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.mintinput {
    width: 150px;
    height: 35px;
    background-color: #474745 !important;
    border: none !important;
    color: white;
}

.mintinput:focus-visible {
    width: 150px;
    height: 35px;
    background-color: #474745 !important;
    border: none !important;
}

.msgCloseBtn {
    top: 5%;
    right: 5%;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

.msgCloseBtn:hover {
    color: #797974 !important;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
}

.window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.471);
    z-index: 999999999;
    position: fixed;
}

.window2 {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.passImg {
    margin-top: 50%;
}

.alignText {
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
}

.soldOutImg {
    top: 0%;
    right: 0%;
}

@media only screen and (max-width: 992px) {
    .sec4 {
        background-color: #0e0e0e;
    }
}

.windonone {
    opacity: 0;
    transition: opacity 0.8s;
}

.line {
    width: 60px;
    height: 3px;
    background-color: white;
    transform: rotate(-65deg);
}

.bg-lightBlue{
    background-color: #1c768f !important;
}

@media only screen and (max-width: 1500px) {
    .fontsize {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1500px) {
    .fontsize {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1200px) {
    .fontsize {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 510px) {
    .artistSocialLink {
        width: 60px;
    }

    .alignText {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 440px) {
    .artistSocialLink {
        width: 45px;
    }
}

@media only screen and (max-width: 992px) {
    .verticalCenter {
        height: fit-content;
    }
}